.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
}


.pokemon{
    margin: 0.5rem;
    padding: 1rem 1rem;
    background: #49d0b0;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .725rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;


}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.type{
    background: #61e1ca;
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: .25rem 0;
    font-size: .725rem;
    border-radius: .25rem;
}
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

@media screen and (min-width: 200px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1000px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 auto;
    }
}